<!-- Login Form -->
<form [formGroup]="loginForm" (ngSubmit)="login()">

    <!-- Email -->
    <div class="mb-3">
        <label for="email" class="form-label">Username</label>
        <input class="form-control" id="email" formControlName="email">
        <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">
            Username is Required
        </div>

    </div>

    <!-- Password -->
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && (Password.dirty || Password.touched)">
            Password is Required
        </div>
        <div class="form-text text-danger"
             *ngIf="Password.errors?.['minlength'] || Password.errors?.['maxlength'] && (Password.dirty || Password.touched)">
            Password should be at least 6 and at the max 15 characters long.
        </div>
    </div>

    <!-- Login Button -->
    <div>
        <button type="submit" [disabled]="loginForm.invalid" class="d-block mx-auto btn btn-outline-primary">
            Login
        </button>
    </div>

    <div class="mt-3 text-center">
        <h5 [ngClass]="{'success-message': message === 'Logged In Successfully.', 'error-message': message === 'Invalid Credentials!'}">{{message}}</h5>
      </div>
      
</form>
